body, html { height:100%; padding:0; margin:0;}


svg {
  pointer-events: all;
}

.node {
    cursor: pointer;
  }
  
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .node text {
    font: 10px sans-serif;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }







  







.float_container_main{
  
  padding: 18px;
  width: 100%;
  height: 100%;

}

.main_form_float{
  
  padding: 3px;
  float : left;
  width : 27vw; 
  height : 100vh;
  background: #e3f2fd;
  border: solid 2px rgb(141, 141, 213);
  border-radius: 8px;
  overflow: auto;

  


}
svg{
  width: 100%;
  height: 90%;
  float: auto;
}


  body{
    background-color: #eef5e7 ;
  }

  div.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 2px;
    background: #ffff99;
    border: solid 1px #aaa;
    border-radius: 8px;
}

div.tooltip_2 {
  position: absolute;
  width: auto;
  height: auto;
  padding: 2px;
  background: #ffff99;
  border: solid 1px #aaa;
  border-radius: 8px;
}


ul {
  padding-left: 2rem;
 
}

ul li {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}

.probability_toggle{
  position: relative;
  float: left;
  top: 1%;
  left: 18%; 
  /* border: solid 1px rgb(141, 141, 213);
  border-radius: 3px; */
  height: 5%;
  width:95%;
  overflow: auto;
  font-size: 0.9vw;
}

.probabilistic{
  position: relative;
  float: left;
 

}

.probabilistic a:hover{
  font-weight: 600;
}

.non_probabilisitc{
  position: relative;
  float: right;
}






.tree_box{

  position: relative;
  padding: 3px;
  float : left;
  width : 70%; 
  height : 53%;
  background: #f3e4f3;
  border: solid 2px rgb(141, 141, 213);
  border-radius: 8px;
 
 

}

.tree_box_2{

  position: relative;
  padding: 3px;
  float : left;
  width : 70%; 
  height : 53%;
  background: #f3e4f3;
  border: solid 2px rgb(141, 141, 213);
  border-radius: 8px;
 
 

}


.table_box {
  position: relative;
  float: left;
  padding: 3px;
  width: 70%;
  height: 51.5%;
  border: solid 2px rgb(141, 141, 213);
  border-radius: 8px;
  top: 0.7%;
  background: rgb(235, 237, 239);
}

.main_form{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 3px;
 

}



textarea{
  float:left;
  resize: none;
  position: relative;
  left :2%;
  background-color: rgb(250, 244, 244);
  border-radius: 7px;
  border: 2px solid rgb(135, 142, 235);
  width: 95%;

}

textarea:hover{
  box-shadow: 4px 6px #7f84aecd;
}

.grammar_box_file:hover{
  box-shadow: 4px 6px #7f84aecd;
}


#tesha{
  position: relative;
}



.table_toggles{

    position: relative;
    width: 95%;
    height: 24%;
    top:3%;
    padding:3px;
    float: left;
    left: 2%;
    border-radius: 12px;
    border: 2px solid rgb(135, 142, 235);
    background: rgb(248, 242, 236);
    overflow:auto;

}


.table_toggles:hover{
  box-shadow: 4px 6px #7f84aecd;

  

}

.total_prob{
  position: relative;
  padding: 3px;
  float:left; 
  left: 10%;
  top: 2%;
  border-radius: 25px;
  border: 2px solid #73AD21;
  background: #eee;
  width: 70%;
  font-size: 0.9vw;
  overflow: hidden;


}

.total_prob:hover{
  
  box-shadow: 2px 4px #7fae8ccd;
 
}

#total_probability{
  position: relative;
  float: right;
  font-size: 1.1vw;
  top: 25%;
  left: 5%;
  width: 40%;
  /* border-radius: 3px;
  border: 2px solid rgb(135, 142, 235); */
  bottom: 80%;
  color: #457dd1;
  
}

.show_parses{
  position: relative;
  float: left;
  top: 0.5%;
  font-size: 1.1vw;
  border-radius: 5px;
  background: #f3e4f3;
  width: 100%;
  height: 7.5%;

}
.show_parses_2{
  position: relative;
  float: left;
  top: 0.5%;
  font-size: 1.1vw;
  border-radius: 5px;
  background: #f3e4f3;
  width: 100%;
  height: 7.5%;

} 


#show_parses{
  position: relative;
  /* height: 99%; */
  float: left;
  padding: 4px;
  border-radius: 5px;
  background: rgb(147, 149, 209);
  font-size: 0.7vw;
 
  color:#ffffff

}

#show_parses:hover{
  color: #455ad1;
}

#show_parses_2{
  position: relative;
  /* height: 99%; */
  float: left;
  padding: 4px;
  border-radius: 5px;
  background: rgb(147, 149, 209);
  font-size: 0.7vw;
 
  color:#ffffff

}

#show_parses_2:hover{
  color: #455ad1;
}


#nth_parse{
  position: relative;
  float: left;
  font-size: 1.1vw;
  height:99%;

}

#nth_parse_2{
  position: relative;
  float: left;
  font-size: 1.1vw;
  height:99%;
}





.leftmost_toggle{
  position: relative;
  padding: 6px;
  float:left; 
  border-radius: 25px;
  border: 2px solid #457dd1;
  background: #eee;
  top: 5%;
  left:10%;
  width: 80%;
  font-size: 0.9vw;
  overflow: hidden;
}
.leftmost_toggle:hover{
  box-shadow: 2px 4px #83aedc;
}


.comparison_toggle{
  position: relative;
  padding: 6px;
  float:left; 
  border-radius: 25px;
  border: 2px solid #457dd1;
  background: #eee;
  top: 15px;
  left:10%;
  width: 80%;
  font-size: 0.9vw;
  overflow: hidden;
}
.comparison_toggle:hover{
  box-shadow: 2px 4px #83aedc;
}

.submit_area{
  position: relative;
  float:left;
  width: 50%;
  height: 30%;
  top: 14%;
  left:11%;
  
  
  

}

.grammar_box{
  position:relative;
  float: left;
  padding: 5px;
}

.grammar_box_home{
  position:relative;
  float: left;
  left: 3%;
  top: 1%;
  padding: 5px;
  height: 30%;
  width: 90%;
  border-radius: 10px;
  border: 2px solid rgb(135, 142, 235);
  background: #ffffff;
  overflow: auto;
  font-size: 0.9vw;
  text-align: justify;
  background: rgb(248, 242, 236);
}






.grammar_box_file{
  position: relative;
  float: left;
  padding: 5px;
  width: 80%;
  left: 3%;
 
  border-radius: 10px;
  border: 2px solid #457dd1;


}

#grammar_file{
  position: relative;
  float:left;
  padding: 5px;
  left:2%;
  width: 80%;
  font-size: 0.7vw;


}

.sentence_box{
  position:relative;
  float: left;
  padding: 5px;
  top: 1%;

}

.sentence_box_home{
  position:relative;
  float: left;
  left: 3%;
  top: 1.5%;
  padding: 5px;
  height: 30%;
  width: 90%;
  border-radius: 10px;
  border: 2px solid rgb(135, 142, 235);
  background: #ffffff;
  overflow: auto;
  background: rgb(248, 242, 236);
  

}

.alert_box{
  position: relative;
  float:left;
  width: 100%;
  height: 25%;
  top: 5%;
 
  border-radius: 13px;
  border: solid 1px rgb(135, 160, 214);
  overflow: auto;
  background-color: #e3f2fd;
}

.alert_box_home{
  position: relative;
  float:left;
  width: 100%;
  height: 25%;
  top: 5%;
 
  border-radius: 13px;
  border: solid 1px rgb(135, 160, 214);
  background: rgb(248, 242, 236);overflow: auto;
  overflow: auto;

}

.alert1 {
 
  font-size: 1vw;
  color:rgb(137, 197, 72);
  list-style-type:"\2705"
}

.alert2 {
 
  font-size: 1vw;
  color:rgb(177, 172, 96);
  list-style-type:"\26A0"
}

.alert3 {
 
  color:rgb(218, 120, 120);
  font-size: 1vw;
  list-style-type:"\26D4"
}
  
/* .number_parses { 

  position: relative;
  float:left;
  top: 5%;
  height:75%;

} */

.final_submit{
  position: relative;
  float:left;
  padding: 1px;
  bottom:2.5%;
  width: 65%;
}

#n_parses{
  position: relative;
  width: 32%;
  float: left;
  padding: 3px;
  border-radius: 5px;

  background: rgb(247, 247, 239);
 

}

#submitgrammar{
  position: relative;
  width: 100%;
  float: left;
  padding: 3px;
  border-radius: 5px;
  background: rgb(123, 182, 104);
 
  color:snow
 
}



#submitgrammar:hover{
  background: rgb(97, 165, 70);
  color: rgb(26, 86, 141);
  
}

#grammar_instructions{
  position:relative;
  float: left;
  left:5%;
}

.navbar-brand{
  position: relative;
  top: 10%;
  left: 3%;
  
}

#navbarNav{

  position: relative;
  left: 3%;
  font-family: 'Titillium Web', sans-serif;

}




.master_buttons{
  position: relative;
  width: 30%;
  float: left;
  top: 5%;
}

.master_buttons_2{
  position: relative;
  width: 30%;
  float: left;
  top: 5%;
}


.all_button{
  
  position: relative;
  /* height: 99%; */
  float: left;
  padding: 4px;
  border-radius: 4px;
  background: rgb(147, 149, 209);
  font-size: 0.7vw;
 
  color:#ffffff

}
.all_button:hover{
  color: #455ad1;
}

.all_button_2{
  
  position: relative;
  /* height: 99%; */
  float: left;
  padding: 4px;
  border-radius: 4px;
  background: rgb(147, 149, 209);
  font-size: 0.7vw;
 
  color:#ffffff

}
.all_button_2:hover{
  color: #455ad1;
}










.bodyTable td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bodyTable tr {
  height: 40px;
}

.bodyTable tr:hover {
  background-color:grey;
}

.headerTable th:hover {
  background-color:grey;
}

.scroll {
  overflow: auto;
}



#syntaxbutton{
  position: relative;
  left:20%;
  border-radius: 5px;
 
  font-size: 1vw;
  font-weight: 300;

  
  background: rgb(235, 237, 239);

}

#syntaxbutton:hover{
  box-shadow: 2px 3px #7f84aecd;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}