body, html { height:100%; padding:0; margin:0;}


svg {
  pointer-events: all;
}

.node {
    cursor: pointer;
  }
  
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .node text {
    font: 10px sans-serif;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }








  







.float_container_main{
  
  padding: 18px;
  width: 100%;
  height: 100%;

}

.main_form_float{
  
  padding: 3px;
  float : left;
  width : 27vw; 
  height : 100vh;

  


}
svg{
  width: 100%;
  height: 100%;
  float: auto;
}

  body{
    background-color: #eef5e7 ;
  }

  div.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 2px;
    background: #ffff99;
    border: solid 1px #aaa;
    border-radius: 8px;
}


ul {
  padding-left: 2rem;
 
}

ul li {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}



.tree_box{

  position: relative;
  padding: 3px;
  float : left;
  width : 70%; 
  height : 50%;
  background: #f3e4f3;
  border: solid 2px rgb(141, 141, 213);
  border-radius: 8px;
  top: 0.5%;
 

}


.table_box {
  position: relative;
  float: left;
  padding: 3px;
  width: 70%;
  height: 53.5%;
  border: solid 2px rgb(141, 141, 213);
  border-radius: 8px;
  top: 0.7%;
  background: rgb(235, 237, 239);
}

.main_form{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 3px;
  background: #e3f2fd;
  border: solid 2px rgb(141, 141, 213);
  border-radius: 8px;


}



textarea {
  float:left;
  resize: none;
  position: relative;
  left :2%;
  background-color: rgb(250, 244, 244);
  border-radius: 7px;
  border: 2px solid rgb(135, 142, 235);
  width: 95%;
}

textarea:hover{
  box-shadow: 4px 6px #7f84aecd;
}


#tesha{
  position: relative;
}



.table_toggles{

    position: relative;
    width: 95%;
    height: 18%;
    top:3%;
    padding:3px;
    float: left;
    left: 4%;
    border-radius: 12px;
    border: 2px solid rgb(135, 142, 235);
    background: rgb(248, 242, 236);

}


.table_toggles:hover{
  box-shadow: 4px 6px #7f84aecd;

  

}

.total_prob{
  position: relative;
  padding: 3px;
  float:left; 
  border-radius: 25px;
  border: 2px solid #73AD21;
  background: #eee;
  width: 70%;
  font-size: 0.9vw;


}

.total_prob:hover{
  
  box-shadow: 2px 4px #7fae8ccd;
 
}

.leftmost_toggle{
  position: relative;
  padding: 6px;
  float:left; 
  border-radius: 25px;
  border: 2px solid #457dd1;
  background: #eee;
  top: 12%;
  width: 80%;
  font-size: 0.9vw;
}
.leftmost_toggle:hover{
  box-shadow: 2px 4px #83aedc;
}

.submit_area{
  position: relative;
  float:left;
  width: 100%;
  height: 40%;
  top: 20%;
  left:2%;
  
  

}

.grammar_box{
  position:relative;
  float: left;
  padding: 5px;
}

.sentence_box{
  position:relative;
  float: left;
  padding: 5px;
  top: 1%;

}

.alert_box{
  position: relative;
  float:left;
  width: 100%;
  height: 15%;
  top: 5%;
  border-radius: 13px;
  border: solid 2px rgb(135, 160, 214);
  overflow: auto;
  background-color: #e3f2fd;
}

.alert1 {
 
  font-size: 1vw;
  color:rgb(137, 197, 72);
  list-style-type:"\2705"
}

.alert2 {
 
  font-size: 1vw;
  color:rgb(177, 172, 96);
  list-style-type:"\26A0"
}

.alert3 {
 
  color:rgb(218, 120, 120);
  font-size: 1vw;
  list-style-type:"\26D4"
}
  
.number_parses: { 

  position: relative;
  float:left;
  padding: 3px;

}

.final_submit{
  position: relative;
  float:left;
  padding: 1px;
  bottom:1.5%;
}

#n_parses{
  position: relative;
  width: 32%;
  float: left;
  padding: 3px;

}

#submitgrammar{
  position: relative;
  width: 100%;
  float: left;
  padding: 3px;
  border-radius: 5px;
}

#submitgrammar:hover{
  box-shadow: 2px 4px #83aedc;
  
}

#grammar_instructions{
  position:relative;
  float: left;
  left:5%;
}
















.bodyTable td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bodyTable tr {
  height: 40px;
}

.bodyTable tr:hover {
  background-color:grey;
}

.headerTable th:hover {
  background-color:grey;
}

.scroll {
  overflow: auto;
}