<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        

    </head>
    <body>
      
        <div class =  "content-section">

    
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset>
                <legend class="border-bottom mb-4">Your grammar</legend>
                    Enter you grammar in the textbox
                    <div>
                        
                        {{form.grammar()}}
                    </div>
             
            </fieldset>
            <fieldset>
                <legend class="border-bottom mb-4">Your Sentence</legend>
                Enter your sentence here 
                <div>
                   
                    {{form.sentence()}}

                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submitgrammar() }}
            </div>
            <div>
                {%with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  {% for category,message in messages %}
                  <div class="alert alert-{{ category }}">
                      {{ message }}
                  </div>
                  {% endfor %}
                  {% endif %}
                {% endwith %}
            </div>
        </form>
        </div>
       

        <div>
            {% if accepted %}
            <span> </span>
            
            <span hidden id = "parses">
                {{ parses }}
            </span>
            <span hidden id = "testarr">
                {{ test_arr }}
            </span>

            <div class = "tree_box">
                <script src="{{url_for('static', filename='tree.js')}}"></script>
                <div>
                    
                    a: <input type = "number" id="a">
                    <button onclick = "render(document.getElementById('a').value)"> Show Parse</button>
                    
                  
                    
                </div>
            </div>
            
           
            {% endif %}
        </div>
        
       
    </body>
</html>