<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
        <title>

        </title>
    </head>
    <body>
        <h1>main page {{inp}}</h1> 
        <div class =  "content-section">

    
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset>
                <legend class="border-bottom mb-4">Your grammar</legend>
                    Enter you grammar in the textbox
                    <div>
                        
                        {{form.grammar()}}
                    </div>
             
            </fieldset>
            <fieldset>
                <legend class="border-bottom mb-4">Your Sentence</legend>
                Enter your sentence here 
                <div>
                   
                    {{form.sentence()}}

                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submitgrammar() }}
            </div>
            <div>
                {%with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  {% for category,message in messages %}
                  <div class="alert alert-{{ category }}">
                      {{ message }}
                  </div>
                  {% endfor %}
                  {% endif %}
                {% endwith %}
            </div>
        </form>
        </div>

        <div>
            {% if parses %}
            <span hidden id = "parses">
                {{ parses }}
            </span>
            {%for i in range(10) %}
            <div class="tree">
    
                <ul>
                    <li>
                        <div><input type="checkbox"> Main <br/> <button> Test Btn </button></div>
                        <ul>
                            <li>
                                <div><input type="checkbox"> Sub-1</div>
                            </li>
                            <li>
                                <div><input type="checkbox"> Sub-2</div>
                                <ul>
                                    <li>
                                        <div><input type="checkbox"> Sub-2-1</div>
                                    </li>
                                    <li>
                                        <div><input type="checkbox"> Sub-2-2</div>
                                    </li>
                                </ul>  
                            </li>
                        </ul>
                                    
                    </li>
                </ul>
                                
            </div>
            {% endfor %}
            <!-- {% for item in parses[0] %}
            {{item}}
            {% endfor %} -->
            {% endif %}
        </div>
      
    </body>
</html>