<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
        <title>

        </title>
    </head>
    <body>
        <h1>Alex's awesome parse tree app!!!</h1>
        
     <div class="tree">
    
	<ul>
		<li>
            <div><input type="checkbox"> Main <br/> <button> Test Btn </button></div>
            <ul>
                <li>
                    <div><input type="checkbox"> Sub-1</div>
                </li>
                <li>
                    <div><input type="checkbox"> Sub-2</div>
                    <ul>
                        <li>
                            <div><input type="checkbox"> Sub-2-1</div>
                        </li>
                        <li>
                            <div><input type="checkbox"> Sub-2-2</div>
                        </li>
                    </ul>  
                </li>
            </ul>
                        
		</li>
	</ul>
                    
</div>
    </body>
</html>